.lol-guide-detail-overview {
    width: 100%;
    .lol-guide-detail-overview-content {
        width: 70%;
        margin: 0 auto;
        display: flex;
        @include lComputer {
            width: 80%;
        }
        @include sComputer {
            width: 90%;
        }
        @include lPhone-and-pTablets {
            width: 95%;
            display: block;
        }
        @include xsPhone {
            width: 98%;
        }
        .lol-guide-detail-overview-content-images {
            width: 50%;
            display: block;
            @include lPhone-and-pTablets {
                width: 100%;
                margin-right: unset;
            }
            .lol-guide-detail-overview-content-images-profile-picture {
                width: 100%;
                img {
                    width: 100%;
                    height: auto;
                    box-shadow: 3px 3px 2px #c7c7c7;
                }
            }
            .lol-guide-detail-overview-content-images-extra {
                display: flex;
                margin-top: 10px;
                height: 80px;
                @include sComputer {
                    margin-top: 8px;
                }
                @include lTablets {
                    height: 60px;
                }
                @include lPhone-and-pTablets {
                    margin-top: 5px;
                    height: 80px;
                }
                @include sTablets {
                    margin-top: 3px;
                    height: 60px;
                }
                @include sPhone {
                    margin-top: 2px;
                    height: 40px;
                }
                .lol-guide-detail-overview-content-images-extra-images {
                    width: 20%;
                    height: 100%;
                    .lol-guide-detail-overview-content-images-extra-images-element {
                        position: relative;
                        height: 100%;
                        max-width: 90%;
                        cursor: pointer;
                        .lol-guide-detail-overview-content-images-extra-images-element-blurred {
                            position:absolute; 
                            top:0px; 
                            right:0px; 
                            bottom:0px; 
                            left:0px;
                            background-attachment: local;
                            background-size: cover;
                            background-position: center;
                            filter: blur(3px);
                            opacity: 0.6;
                        }
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            margin: auto;
                            display: block;
                            position: absolute;
                            top:0px; 
                            right:0px; 
                            bottom:0px; 
                            left:0px;
                        }
                        /*img {
                            width: 90%;
                            height: 100%;
                            margin-left: 5%;
                            margin-right: 5%;
                            box-shadow: 2px 2px 1px #c7c7c7;
                        }
                        img:hover {
                        }*/
                    }
                }
            }
        }
        
        .lol-guide-detail-overview-content-details {
            width: 40%;
            border: 0.5px solid #e6e6e6;
            padding: 20px 25px;
            margin-left: 5%;
            border-radius: 10px;
            box-shadow: 3px 3px 2px #c7c7c7;
            @include sComputer {
                width: 45%;
                padding: 18px 22px;
            }
            @include lTablets {
                width: 45%;
                padding: 16px 20px;
            }
            @include lPhone-and-pTablets {
                width: 100%;
                margin-left: unset;
                margin-top: 20px;
                border-radius: 5px;
            }
            @include sTablets {
                margin-top: 15px;
                padding: 14px 18px;
            }
            @include sPhone {
                margin-top: 10px;
                padding: 10px 12px;
            }
            .lol-guide-detail-overview-content-details-header {
                h2 {
                    font-size: 150%;
                    font-weight: 400;
                    word-spacing: 2px;
                    color: $secondaryColor;
                }
                padding-bottom: 20px;
                border-bottom: 0.5px solid #e6e6e6;
                @include lTablets {
                    width: 45%;
                    padding-bottom: 18px;
                }
                @include lPhone-and-pTablets {
                    padding-bottom: 16px;
                }
                @include sTablets {
                    padding-bottom: 14px;
                }
                @include sPhone {
                    padding-bottom: 10px;
                }
            }
            .lol-guide-detail-overview-content-details-elements {
                .lol-guide-detail-overview-content-details-element {
                    display: flex;
                    margin-top: 10px;
                    i {
                        color: $primaryColor;
                        font-size: 120%;
                        margin-right: 5px;
                    }
                    span.lol-guide-detail-overview-content-details-element-description {
                        font-weight: bolder;
                        font-size: 120%;
                    }
                }
                .lol-guide-detail-overview-content-details-languages {
                    display: block;
                    button {
                        text-decoration: underline;
                        font-size: 120%;
                        color: $secondaryColor;
                        cursor: pointer;
                        font-weight: bolder;
                        background: none;
                        border: none;
                        outline: none;
                    }
                    button:hover {
                        text-decoration: none;
                        color: $primaryTextColor;
                    }
                    .lol-guide-detail-overview-content-details-languages-list {
                        display: block;
                        ul {
                            list-style: none;
                            font-size: 100%;
                        }
                    }
                }
            }
        }
    }
}

.lol-guide-detail-description {
    width: 100%;
    .lol-guide-detail-description-content {
        width: 70%;
        margin: 0 auto;
        @include lComputer {
            width: 80%;
        }
        @include sComputer {
            width: 90%;
        }
        @include lPhone-and-pTablets {
            width: 95%;
        }
        @include xsPhone {
            width: 98%;
        }
    }
}