$primaryTextColor: #4a4a4a;
$secondaryTextColor: #fafafa;
$thirdTextColor: #8c8c8c;
$primaryBackgroundColor: #f8f8f8;
$secondaryBackgroundColor: #f0f0f0;
$thirdBackgroundColor: #fdfdfd;
$primaryColor: #ed1c24;
$secondaryColor: #c61017;
$thirdColor: #8e171d;
$boxShadowColor: #c7c7c7;
$primaryDisabledColor: #d3d3d3;
$colorOrange: #bc6d28;
$colorLightOrange: #d39856;
$colorLighterOrange: #cfb290;
$colorGreen: #293618;
$colorLightGreen: #606d38;